#openRDFaDev 
{
  -moz-appearance:     none !important;
  background-image:    url("chrome://rdfadev/content/overlay/firefox_rdfa.png");
  background-position: center center;
  background-repeat:   no-repeat;
  width:               15px;
  height:              15px;
}
